.page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 40rem;
    margin: auto;
    align-items: center;
    justify-content: start;
    padding: 2rem;
}

.form {
    width: 100%;
}

.form-buttons {
    margin-top: 4rem;
}
