.page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    align-items: center;
    justify-content: space-between;
}

.liquid-ether {
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
}

.beian {
    color: var(--ant-color-text-secondary);
    font-size: var(--ant-font-size-sm);
}

.main {
    margin-top: auto;
    margin-bottom: auto;
    font-size: xxx-large;
}
