.page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 40rem;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: var(--ant-color-bg-layout);
    padding: 1rem;
}

.link-button {
    display: flex;
    flex-direction: column;
    height: 4rem;
}

.article-list {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
}

.article-list-header {
    border-left: 0.5rem solid var(--ant-purple-2);
    padding-left: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: var(--ant-font-size-sm);
}

.article-list-items {
    display: flex;
    flex-direction: column;
}

.article-list-anchor {
    color: var(--ant-color-text);
}

.article-list-item {
    display: flex;
    gap: 1rem;
    font-size: var(--ant-font-size-sm);
}

.article-list-item-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article-list-item-right {
    flex: 0 0 20%;
}

.article-list-item-date {
    color: var(--ant-color-text-tertiary);
}
