.pre {
    font-size: calc(var(--ant-font-size-sm) - 2px);
    margin-top: var(--ant-size-xxs);
    margin-left: var(--ant-size-xxs);
    margin-right: var(--ant-size-xxs);
}

/* This class hides the content but keeps it in the DOM */
.collapsed {
    height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}
